.venv
__pycache__
*.pyc
*.pyo
*.pyd
.env
.env.*
models/
data/
tmp/
tests/
test_faces/
predictions.db
predictions_log.csv
logs/
.vscode/
.idea/
.git
.gitignore
venv
backend/logs
backend/predictions.db
backend/models
.git
# ignore big and unnecessary files
*.pyc
node_modules
frontend
.vscode
*.log
