.root {
  padding: calc(var(--mantine-spacing-xl) * 1.5);
}

@media (max-width: 768px) {
  .root {
    padding: var(--mantine-spacing-md);
  }
}

.value {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  word-break: break-word;
  overflow-wrap: break-word;
}

.diff {
  line-height: 1;
  display: flex;
  align-items: center;
}

.icon {
  color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
}

.title {
  font-weight: 700;
  text-transform: uppercase;
  word-break: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  line-height: 1.2;
}
